
h1{
  margin-top: 0;
  font-family: cursive;
  margin-top: 62px;
}
h2{
  font-size: 2rem;
  text-align: center;
}
body{
  margin: 0;
  text-align: center;
  font-family: cursive;
  resize: none;
}
hr{
  border-style: dotted;
  border-bottom: none;
  border-color: #368B85;
  width: 5%;
  border-width: 10px;
  margin: 100px auto;
}
.top-container{
  background-color: #E8F6EF;
  padding-top: 80px;
  position: relative;
}
.middle-container{
  background-color: #4d8746;
  color: #F9F3DF;
  position: relative;
}

.flying-bird{
  position: absolute;
  bottom: 200px;
  right:35%;
  height:auto;
  width: 5%;
}

.stationary-bird{
  position:absolute;
  right:0;
  bottom: 20px;
  width:10%;
}
.sparkle{
  position:absolute;
  right:0;
  bottom: 20px;
  width:20%;
  height: auto;
}
.t-cloud{
  position: absolute;
  right: 20%;
  top:10px;
  height: auto;
  width: 15%;
}
.b-cloud{
position: absolute;
left:20%;
bottom: 320px;
height: auto;
width: 15%;
}
.mountain{
  position:relative;
  top:5px;
  height: auto;
  width:auto;
}
.profile{
  position: relative;
  padding-top: 50px;
}
.profile-photo{
  height: 200px;
  width: 200px;
}
.branch{
  position: absolute;
  left:0;
  bottom: 45%;
  width:15%;
  height:auto;
}
.anime-birds{
  position: absolute;
  left:0;
  bottom: 45%;
  width:15%;
  height:auto;
  visibility: visible;
}
.anime-birds:hover{
  visibility: visible;
}

.bottom-container{
  background-color: black;
  color: white;
  position: relative;
}
.footer-link{
  color: #F9F3DF;
}
.btn{
  color: #F9F3DF;
}

.skills{
  width: 50%;
  margin: auto;
}
.html-icon{
  float:left;
  margin-right: 100px;
}
.css-icon{
  float: right;
  margin-left: 100px;
}
.skill-html{
  margin: 200px auto;
  text-align: left;
}
.skill-css{
  
  text-align: right;

}
